<!-- TPL 0 -->
<legend><h2>{VERSION}<small> Einstellungen</small></h2></legend>
<div class="row">
    <div class="col-md-8">
        <div class="btn-group btn-group-sm ">
            <a href="?shbox4admin-allg" class="btn btn-primary">Grundeinstellungen</a>
            <a href="?shbox4admin-style" class="btn btn-primary">Style</a>
            {FARBE}
            <a href="?shbox4admin-show" class="btn btn-primary">Einträge</a>
        </div>
        <br><br>

{EXPLODE}
<!-- TPL 1 -->

{EXPLODE}
<!-- TPL 2 -->

{EXPLODE}
<!-- TPL 3 -->

{EXPLODE}
<!-- Start ShowBox -->
<!-- TPL 4 -->



{EXPLODE}
<!-- Start Info & Copyright -->
<!-- TPL 5 -->

<div class="alert alert-info" role="alert">
    <h4>Info</h4>
    Hier können Sie ihre ShBox nach ihren wünschen einstellen sowie Einträge Bearbeiten, Löschen
    oder auch verschieben.
    In den Einstellungen werden die änderungen jeweils mit ENTER bestätigt.
    <br><br>
    Sollten Sie Probleme mit der ShBox haben oder Sie haben Ideen zur Verbesserung des Modules
    wendet euch an das Forum von Ilch.de oder an nf-projekt.de.
    <br><br><br>
    <center>{VERSIONFO}</center>
</div>
